* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    height: 10000px;
}

/* common */
line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: var(--primary-color);
}

.btn:hover {
    transition: all 0.3s;
    opacity: 0.9;
}

/* header */

.header {
    padding-top: 20px;
    background: #10375c;
}

.fixed-header {
    position: sticky;
    top: -20px;
    z-index: 2;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar__list {
    display: flex;
    position: relative;
}

.navbar__item {
    padding: 0 21px;
    color: #c9d2da;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navbar__item:hover,
.active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__list li:first-child::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    background: #fff;
    border-radius: 999px;
    left: 8px;
    top: 11px;
}

.log-in {
    color: #c9d2da;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    margin-right: 25px;
}

.sign-in {
    min-width: 104px;
    --height: 44px;
}

/* hero */

.hero {
    padding-top: 66px;
    padding-bottom: 110px;
    background-color: #10375c;
}

.hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 113px;
}

.booking__title {
    color: #fff;
    width: 517px;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.15; /* 114.286% */
    letter-spacing: -1.4px;
}

.booking__desc {
    margin-top: 22px;
    width: 468px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.booking__link {
    display: flex;
    gap: 38px;
    align-items: center;
    margin-top: 38px;
}

.booking__link a:first-child {
    min-width: 205px;
    height: 60px;
}

.booking__link a:last-child {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__img {
    display: flex;
    align-items: center;
}

.hero__img--item:first-child {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    z-index: 1;
}

.hero__img--item:last-child {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 6px;
    margin-left: -10px;
}

/* service */
.service {
    padding-top: 170px;
    padding-bottom: 170px;
}

.service__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
    text-align: center;
}

.service__desc {
    display: block;
    width: 468px;
    margin: 18px auto 0 auto;
    text-align: center;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.service__row {
    display: flex;
    margin-top: 70px;
    gap: 130px;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    flex-shrink: 0;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    display: flex;
    flex-direction: column;
}

.service__item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 19px;
    padding: 20px;
    border-radius: 10px;
}

.service__item:hover {
    transition: all 0.5s;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.5);
}

.service__item:hover .service__item--icon {
    transition: all 0.5s;
    background-color: var(--primary-color);
    color: white;
}

.service__item--icon {
    background-color: #eff6fd;
    width: 60px;
    height: 60px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #10375c;
}

.service__content {
    width: 351px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.service__content--title {
    color: --primary-color;
    font-size: 1.8rem;
    font-weight: 600;
}

.service__content--desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.service__btn {
    margin-top: 55px;
    max-width: 205px;
    height: 60px;
}
